<div class="content-wrapper">
  <button id="profile_addnewprofile" class="button-outline mr-3" (click)="onNewProfile()">Add New Profile</button>
  <div class="modal-wrapper" *ngIf="ProfilePopup">
    <div class="modal" style="max-width: 650px;">
      <div class="modal-title pb-0">
        <div class="company-wrapper d-flex align-items-center justify-content-between">
          <div>
            <h3 *ngIf="!EditBool && !ViewBool">Add New Profile</h3>
            <h3 *ngIf="EditBool">Edit Profile</h3>
            <h3 *ngIf="ViewBool">View Profile</h3>
          </div>
          <div>
            <button id="profile_pp_x" class="button icon-only button-clear ml-2" (click)="ProfilePopup = false">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path
                  d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
              </svg>
            </button>
          </div>
        </div>
        <div class="login-form mt-4 mb-4">
          <div class="row">
            <div class="col " *ngIf="!EditBool && !ViewBool">
              <label for="">Choose Profile<span class="important">*</span></label>
              <select name="" id="profile_pp_chooseprofile" [(ngModel)]="Chooseprofile" (click)="onChooseProfileChange($event)">
                <option *ngFor="let item of ChooseProfileValue" [value]="item.id == 'null' ? '': item.id"
                  [selected]="item.id == Chooseprofile">
                  {{ item.name }}
                </option>
              </select>
            </div>
            <div class="col" *ngIf="EditBool || ViewBool">
              <div class="m-7 d-flex align-items-center justify-content-between">
                <label for="">Profile ID</label>
                <div class="tooltip-wrapper tooltip-lg">
                  <div class="tooltip-toggle icon-only">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 18">
                      <path d="M0,0H18V18H0Z" fill="none" />
                      <path
                        d="M8.3,5.5H9.7V6.9H8.3Zm0,2.8H9.7v4.2H8.3ZM9,2a7,7,0,1,0,7,7A7,7,0,0,0,9,2ZM9,14.6A5.6,5.6,0,1,1,14.6,9,5.607,5.607,0,0,1,9,14.6Z" />
                    </svg>
                  </div>
                  <div class="tooltip-text">
                    System generated ID
                  </div>
                </div>
              </div>
              <input id="profile_pp_profileid" type="text" [(ngModel)]="ProfileId" disabled>
            </div>
          </div>

          <form *ngIf="IRAShow" [formGroup]="IRAForm">
            <div class="row mt-4">
              <div class="col">
                <label for="">IRA Name<span class="important">*</span> </label>
                <input id="profile_pp_iraf_profilename" type="text" formControlName="Iraname" placeholder="Enter IRA Custodian Name"
                  (blur)="onIRAName($event)">
                <div *ngIf="IranameError" class="validation-msg">
                  <div *ngIf="IranameError">Profile Name is required</div>
                </div>
              </div>
              <div class="col">
                <label for="">In care of (Optional)</label>
                <input id="profile_pp_iraf_incareof" type="text" formControlName="Incare" placeholder="In care of (Optional)">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <label for="">Street Address 1</label>
                <input id="profile_pp_iraf_stadds1" type="text" formControlName="Streetaddress1" placeholder="Enter IRA Custodian Address 1">
              </div>
              <div class="col">
                <label for="">Street Address 2</label>
                <input id="profile_pp_iraf_stadds2" type="text" formControlName="Streetaddress2" placeholder="Enter IRA Custodian Address 2">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <label for="">City</label>
                <input id="profile_pp_iraf_city" type="text" formControlName="City" placeholder="Enter City Name">
              </div>
              <div class="col">
                <label for="">State/Province</label>
                <select name="" id="profile_pp_iraf_province" formControlName="Province" [(ngModel)]="StateProvinceId"
                  (change)="onProvinceChange($event)">
                  <option *ngFor="let item of Province" [value]="item.id == 'null' ? '': item.id"
                    [selected]="item.id == StateProvinceId">
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="row mt-4" *ngIf="CountryStateShow">
              <div class="col">
                <label for="">Country</label>
                <input id="profile_pp_iraf_country" type="text" formControlName="Country" placeholder="Enter Country">
              </div>
              <div class="col">
                <label for="">State</label>
                <input id="profile_pp_iraf_state" type="text" formControlName="State" placeholder="Enter State">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <label for="">Zip Code</label>
                <input id="profile_pp_iraf_zipcode" type="text" formControlName="Zipcode" placeholder="Enter Zip Code">
              </div>
              <div class="col">
                <div class="m-7 d-flex align-items-center justify-content-between">
                  <label for="">Tax ID</label>
                  <div class="tooltip-wrapper tooltip-lg">
                    <div class="tooltip-toggle icon-only">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 18">
                        <path d="M0,0H18V18H0Z" fill="none" />
                        <path
                          d="M8.3,5.5H9.7V6.9H8.3Zm0,2.8H9.7v4.2H8.3ZM9,2a7,7,0,1,0,7,7A7,7,0,0,0,9,2ZM9,14.6A5.6,5.6,0,1,1,14.6,9,5.607,5.607,0,0,1,9,14.6Z" />
                      </svg>
                    </div>
                    <div class="tooltip-text">
                      For tax purposes a tax ID number is required, e.g. the SSN, EIN, ITIN, SIN, or any other Tax ID
                      associated with this profile.
                    </div>
                  </div>
                </div>
                <input id="profile_pp_iraf_taxid" type="text" class="m-7" formControlName="Taxid" placeholder="Enter Tax ID" minlength="10"
                  maxlength="11" (blur)="onTaxid($event)">
                <div *ngIf="TaxError" class="validation-msg">Format should be 123-45-6789 or 12-3456789 or 123-456-789
                </div>
              </div>
            </div>
          </form>

          <form *ngIf="LLCShow" [formGroup]="LLCForm">
            <div class="row mt-4">
              <div class="col">
                <label for="">LLC, Corporation, or Partnership Name<span class="important">*</span> </label>
                <input id="profile_pp_llcf_llcname" type="text" formControlName="Llcname" placeholder="Enter Profile Name"
                  (blur)="onLLCNameChange($event)">
                <div *ngIf="LlcnameError" class="validation-msg">
                  <div *ngIf="LlcnameError">Profile Name is required</div>
                </div>
              </div>
              <div class="col">
                <label for="">In care of (Optional)</label>
                <input id="profile_pp_llcf_incareof" type="text" formControlName="Incare" placeholder="In care of (Optional)">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <label for="">Street Address 1</label>
                <input id="profile_pp_llcf_stadds1" type="text" formControlName="Streetaddress1" placeholder="Enter Street Address 1">
              </div>
              <div class="col">
                <label for="">Street Address 2</label>
                <input id="profile_pp_llcf_stadds2" type="text" formControlName="Streetaddress2" placeholder="Enter Street Address 2">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <label for="">City</label>
                <input id="profile_pp_llcf_city" type="text" formControlName="City" placeholder="Enter City Name">
              </div>
              <div class="col">
                <label for="">State/Province</label>
                <select name="" id="profile_pp_llcf_province" formControlName="Province" [(ngModel)]="StateProvinceId"
                  (change)="onProvinceChange($event)">
                  <option *ngFor="let item of Province" [value]="item.id == 'null' ? '': item.id"
                    [selected]="item.id == StateProvinceId">
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="row mt-4" *ngIf="CountryStateShow">
              <div class="col">
                <label for="">Country</label>
                <input id="profile_pp_llcf_country" type="text" formControlName="Country" placeholder="Enter Country">
              </div>
              <div class="col">
                <label for="">State</label>
                <input id="profile_pp_llcf_state" type="text" formControlName="State" placeholder="Enter State">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <label for="">Zip Code</label>
                <input id="profile_pp_llcf_zipcode" type="text" formControlName="Zipcode" placeholder="Enter Zip Code">
              </div>
              <div class="col">
                <div class="m-7 d-flex align-items-center justify-content-between">
                  <label for="">Tax ID</label>
                  <div class="tooltip-wrapper tooltip-lg">
                    <div class="tooltip-toggle icon-only">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 18">
                        <path d="M0,0H18V18H0Z" fill="none" />
                        <path
                          d="M8.3,5.5H9.7V6.9H8.3Zm0,2.8H9.7v4.2H8.3ZM9,2a7,7,0,1,0,7,7A7,7,0,0,0,9,2ZM9,14.6A5.6,5.6,0,1,1,14.6,9,5.607,5.607,0,0,1,9,14.6Z" />
                      </svg>
                    </div>
                    <div class="tooltip-text">
                      For tax purposes a tax ID number is required, e.g. the SSN, EIN, ITIN, SIN, or any other Tax ID
                      associated with this profile.
                    </div>
                  </div>
                </div>
                <input id="profile_pp_llcf_taxid" type="text" class="m-7" formControlName="Taxid" placeholder="Enter Tax ID" minlength="10"
                  maxlength="11" (blur)="onTaxid($event)">
                <div *ngIf="TaxError" class="validation-msg">Format should be 123-45-6789 or 12-3456789 or 123-456-789
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <div class="m-7 d-flex align-items-center justify-content-between">
                  <label for="">Is this a Disregarded Entity ?</label>
                  <div class="tooltip-wrapper tooltip-lg">
                    <div class="tooltip-toggle icon-only">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 18">
                        <path d="M0,0H18V18H0Z" fill="none" />
                        <path
                          d="M8.3,5.5H9.7V6.9H8.3Zm0,2.8H9.7v4.2H8.3ZM9,2a7,7,0,1,0,7,7A7,7,0,0,0,9,2ZM9,14.6A5.6,5.6,0,1,1,14.6,9,5.607,5.607,0,0,1,9,14.6Z" />
                      </svg>
                    </div>
                    <div class="tooltip-text">
                      A disregarded entity is owned 100% by one individual or one entity. This means that your entity
                      does not file its own tax return. Entities with more than one owner are not disregarded entities.
                    </div>
                  </div>
                </div>
                <select name="" id="profile_pp_llcf_disregardedentity" formControlName="Disregardedentity" [(ngModel)]="Disregardedentity"
                  (change)="onDisregardedEntityChange($event)">
                  <option value="0">Select</option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
              </div>
              <div class="col">
                <div class="m-7 d-flex align-items-center justify-content-between">
                  <label for="">Is this an IRA LLC?</label>
                </div>
                <select name="" id="profile_pp_llcf_irallc" formControlName="Irallc" [(ngModel)]="Irallc" (change)="onIRALLCChange($event)">
                  <option value="0">Select</option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
              </div>
            </div>
          </form>

          <form *ngIf="Individualhow" [formGroup]="IndividualForm">
            <div class="row mt-4">
              <div class="col">
                <label for="">First Name<span class="important">*</span> </label>
                <input id="profile_pp_if_firstname" type="text" formControlName="Firstname" placeholder="Enter First Name"
                  (blur)="onFirstname($event)">
                <div *ngIf="FirstnameError" class="validation-msg">
                  <div *ngIf="FirstnameError">First Name is required</div>
                </div>
              </div>
              <div class="col">
                <label for="">Last Name<span class="important">*</span></label>
                <input id=profile_pp_if_lastname type="text" formControlName="Lastname" placeholder="Enter Last Name" (blur)="onLastname($event)">
                <div *ngIf="LastnameError" class="validation-msg">
                  <div *ngIf="LastnameError">Last Name is required</div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <label for="">Street Address 1</label>
                <input id="profile_pp_if_stadds1" type="text" formControlName="Streetaddress1" placeholder="Enter Street Address 1">
              </div>
              <div class="col">
                <label for="">Street Address 2</label>
                <input id="profile_pp_if_stadds2" type="text" formControlName="Streetaddress2" placeholder="Enter Street Address 2">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <label for="">City</label>
                <input id="profile_pp_if_city" type="text" formControlName="City" placeholder="Enter the City Name">
              </div>
              <div class="col">
                <label for="">State</label>
                <select name="" id="profile_pp_if_province" formControlName="Province" [(ngModel)]="StateProvinceId"
                  (change)="onProvinceChange($event)">
                  <option *ngFor="let item of Province" [value]="item.id == 'null' ? '': item.id"
                    [selected]="item.id == StateProvinceId">
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="row mt-4" *ngIf="CountryStateShow">
              <div class="col">
                <label for="">Country</label>
                <input id="profile_pp_if_country" type="text" formControlName="Country" placeholder="Enter Country">
              </div>
              <div class="col">
                <label for="">State</label>
                <input id="profile_pp_if_state" type="text" formControlName="State" placeholder="Enter State">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <label for="">Zip Code</label>
                <input id="profile_pp_if_zipcode" type="text" formControlName="Zipcode" placeholder="Enter Zip Code">
              </div>
              <div class="col">
                <div class="m-7 d-flex align-items-center justify-content-between">
                  <label for="">Tax ID</label>
                  <div class="tooltip-wrapper tooltip-lg">
                    <div class="tooltip-toggle icon-only">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 18">
                        <path d="M0,0H18V18H0Z" fill="none" />
                        <path
                          d="M8.3,5.5H9.7V6.9H8.3Zm0,2.8H9.7v4.2H8.3ZM9,2a7,7,0,1,0,7,7A7,7,0,0,0,9,2ZM9,14.6A5.6,5.6,0,1,1,14.6,9,5.607,5.607,0,0,1,9,14.6Z" />
                      </svg>
                    </div>
                    <div class="tooltip-text">
                      For tax purposes a tax ID number is required, e.g. the SSN, EIN, ITIN, SIN, or any other Tax ID
                      associated with this profile.
                    </div>
                  </div>
                </div>
                <input id="profile_pp_if_taxid" type="text" class="m-7" formControlName="Taxid" placeholder="Enter Tax ID" minlength="10"
                  maxlength="11" (blur)="onTaxid($event)">
                <div *ngIf="TaxError" class="validation-msg">Format should be 123-45-6789 or 12-3456789 or 123-456-789
                </div>
              </div>
            </div>
          </form>

          <form *ngIf="TrustShow" [formGroup]="TrustForm">
            <div class="row mt-4">
              <div class="col">
                <label for="">Trust Name<span class="important">*</span> </label>
                <input id="profile_pp_tf_trustname" type="text" formControlName="Trustname" placeholder="Enter Profile Name"
                  (blur)="onTrustname($event)">
                <div *ngIf="TrustnameError" class="validation-msg">
                  <div *ngIf="TrustnameError">Profile is required</div>
                </div>
              </div>
              <div class="col">
                <label for="">In care of (Optional)</label>
                <input id="profile_pp_tf_incareof" type="text" formControlName="Incare" placeholder="In care of (Optional)">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <label for="">Street Address 1</label>
                <input id="profile_pp_tf_stadds1" type="text" formControlName="Streetaddress1" placeholder="Enter Street Address 1">
              </div>
              <div class="col">
                <label for="">Street Address 2</label>
                <input id="profile_pp_tf_stadds2" type="text" formControlName="Streetaddress2" placeholder="Enter Street Address 2">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <label for="">City</label>
                <input id="profile_pp_tf_city" type="text" formControlName="City" placeholder="Enter the City Name">
              </div>
              <div class="col">
                <label for="">State/Province</label>
                <select name="" id="profile_pp_tf_province" formControlName="Province" [(ngModel)]="StateProvinceId"
                  (change)="onProvinceChange($event)">
                  <option *ngFor="let item of Province" [value]="item.id == 'null' ? '': item.id"
                    [selected]="item.id == StateProvinceId">
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="row mt-4" *ngIf="CountryStateShow">
              <div class="col">
                <label for="">Country</label>
                <input id="profile_pp_tf_country" type="text" formControlName="Country" placeholder="Enter Country">
              </div>
              <div class="col">
                <label for="">State</label>
                <input id="profile_pp_tf_state" type="text" formControlName="State" placeholder="Enter State">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <label for="">Zip Code</label>
                <input id="profile_pp_tf_zipcode" type="text" formControlName="Zipcode" placeholder="Enter Zip Code">
              </div>
              <div class="col">
                <div class="m-7 d-flex align-items-center justify-content-between">
                  <label for="">Tax ID</label>
                  <div class="tooltip-wrapper tooltip-lg">
                    <div class="tooltip-toggle icon-only">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 18">
                        <path d="M0,0H18V18H0Z" fill="none" />
                        <path
                          d="M8.3,5.5H9.7V6.9H8.3Zm0,2.8H9.7v4.2H8.3ZM9,2a7,7,0,1,0,7,7A7,7,0,0,0,9,2ZM9,14.6A5.6,5.6,0,1,1,14.6,9,5.607,5.607,0,0,1,9,14.6Z" />
                      </svg>
                    </div>
                    <div class="tooltip-text">
                      For tax purposes a tax ID number is required, e.g. the SSN, EIN, ITIN, SIN, or any other Tax ID
                      associated with this profile.
                    </div>
                  </div>
                </div>
                <input id="profile_pp_tf_taxid" type="text" class="m-7" formControlName="Taxid" placeholder="Enter Tax ID" minlength="10"
                  maxlength="11" (blur)="onTaxid($event)">
                <div *ngIf="TaxError" class="validation-msg">Format should be 123-45-6789 or 12-3456789 or 123-456-789
                </div>
              </div>
            </div>
          </form>

          <div class="form-inputs" *ngIf="JointShow">
            <div *ngIf="ArrayForm.length > 0">
              <div class="Add-investor pb-4 mt-4" *ngFor="let arr of ArrayForm;index as i">
                <h4> <strong>Investor {{1+i}}: <span>{{arr.FirstName}} {{arr.LastName}}</span></strong> </h4>
                <div class="row mt-4">
                  <div class="col">
                    <label for="">First Name</label>
                    <input id="profile_pp_js_firstname_{{i}}" type="text" placeholder="Enter First Name" [disabled]="ViewBool" [(ngModel)]="arr.FirstName"
                      (blur)="onArrayFirstname($event)">
                    <div *ngIf="ArrayFirstnameError" class="validation-msg">
                      <div *ngIf="ArrayFirstnameError">First Name is required</div>
                    </div>
                  </div>
                  <div class="col">
                    <label for="">Last Name</label>
                    <input id="profile_pp_js_lastname_{{i}}" type="text" [(ngModel)]="arr.LastName" [disabled]="ViewBool" placeholder="Enter Last Name"
                      (blur)="onArrayLastname($event)">
                    <div *ngIf="ArrayLastnameError" class="validation-msg">
                      <div *ngIf="ArrayLastnameError">First Name is required</div>
                    </div>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <label for="">Email</label>
                    <input id="profile_pp_js_email_{{i}}" type="text" placeholder="Enter Email" [disabled]="ViewBool || arr.IsOwner == true"
                      [(ngModel)]="arr.EmailId" (blur)="onArrayEmail($event)">
                    <div *ngIf="ArrayEmail || ArrayvalidEmail" class="validation-msg">
                      <div *ngIf="ArrayEmail">Email is required</div>
                      <div *ngIf="ArrayvalidEmail">Invalid Email</div>
                    </div>
                  </div>
                  <div class="col">
                    <label for="">Phone</label>
                    <input id="profile_pp_js_phone_{{i}}" type="text" [(ngModel)]="arr.Phone" (blur)="onArrayPhone($event)" [disabled]="ViewBool"
                      (keypress)="numberValidation($event)" maxlength="10">
                    <div *ngIf="ArrayPhoneEmpty || ArrayPhonelength" class="validation-msg">
                      <div *ngIf="ArrayPhoneEmpty">Phone is required</div>
                      <!-- <div *ngIf="ArrayPhonelength">Phone is required</div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button id="profile_pp_js_addinvestor" class="button-outline ml-3 mt-4" [disabled]="ViewBool" (click)="onAddInvestor()">Add
              Investor</button>
          </div>
          <form *ngIf="JointShow" [formGroup]="JointForm">
            <div class="row mt-4">
              <div class="col">
                <div class="m-7 d-flex align-items-center justify-content-between">
                  <label for="">Registration Name<span class="important">*</span> </label>
                  <div class="tooltip-wrapper tooltip-lg">
                    <div class="tooltip-toggle icon-only">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 18">
                        <path d="M0,0H18V18H0Z" fill="none" />
                        <path
                          d="M8.3,5.5H9.7V6.9H8.3Zm0,2.8H9.7v4.2H8.3ZM9,2a7,7,0,1,0,7,7A7,7,0,0,0,9,2ZM9,14.6A5.6,5.6,0,1,1,14.6,9,5.607,5.607,0,0,1,9,14.6Z" />
                      </svg>
                    </div>
                    <div class="tooltip-text">
                      Please enter the exact name you wish to be on the investment e.g. Jim Smith and Jill Smith Joint
                      Tenants with Right of Survivorship
                    </div>
                  </div>
                </div>
                <input id="profile_pp_jf_registrationname" type="text" formControlName="Registrationname" placeholder="Enter Registration Name"
                  (blur)="onRegistrationnameChange($event)">
                <div *ngIf="RegistrationnameError" class="validation-msg">
                  <div *ngIf="RegistrationnameError">Registration Name is required</div>
                </div>
              </div>
              <div class="col">
                <label for="">In care of (Optional)</label>
                <input id="profile_pp_jf_incareof" type="text" formControlName="Incare" placeholder="In care of (Optional)">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <label for="">Street Address 1</label>
                <input id="profile_pp_jf_stadds1" type="text" formControlName="Streetaddress1" placeholder="Enter Street Address 1">
              </div>
              <div class="col">
                <label for="">Street Address 2</label>
                <input id="profile_pp_jf_stadds2" type="text" formControlName="Streetaddress2" placeholder="Enter Street Address 2">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <label for="">City</label>
                <input id="profile_pp_jf_city" type="text" formControlName="City" placeholder="Enter the City Name">
              </div>
              <div class="col">
                <label for="">State/Province</label>
                <select name="" id="profile_pp_jf_province" formControlName="Province" [(ngModel)]="StateProvinceId"
                  (change)="onProvinceChange($event)">
                  <option *ngFor="let item of Province" [value]="item.id == 'null' ? '': item.id"
                    [selected]="item.id == StateProvinceId">
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="row mt-4" *ngIf="CountryStateShow">
              <div class="col">
                <label for="">Country</label>
                <input id="profile_pp_jf_country" type="text" formControlName="Country" placeholder="Enter Country">
              </div>
              <div class="col">
                <label for="">State</label>
                <input id="profile_pp_jf_state" type="text" formControlName="State" placeholder="Enter State">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <label for="">Zip Code</label>
                <input id="profile_pp_jf_zipcode" type="text" formControlName="Zipcode" placeholder="Enter Zip Code">
              </div>
              <div class="col">
                <div class="m-7 d-flex align-items-center justify-content-between">
                  <label for="">Tax ID</label>
                  <div class="tooltip-wrapper tooltip-lg">
                    <div class="tooltip-toggle icon-only">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 18">
                        <path d="M0,0H18V18H0Z" fill="none" />
                        <path
                          d="M8.3,5.5H9.7V6.9H8.3Zm0,2.8H9.7v4.2H8.3ZM9,2a7,7,0,1,0,7,7A7,7,0,0,0,9,2ZM9,14.6A5.6,5.6,0,1,1,14.6,9,5.607,5.607,0,0,1,9,14.6Z" />
                      </svg>
                    </div>
                    <div class="tooltip-text">
                      For tax purposes a tax ID number is required, e.g. the SSN, EIN, ITIN, SIN, or any other Tax ID
                      associated with this profile.
                    </div>
                  </div>
                </div>
                <input id="profile_pp_jf_taxid" type="text" class="m-7" formControlName="Taxid" placeholder="Enter Tax ID" minlength="10"
                  maxlength="11" (blur)="onTaxid($event)">
                <div *ngIf="TaxError" class="validation-msg">Format should be 123-45-6789 or 12-3456789 or 123-456-789
                </div>
              </div>
            </div>
          </form>

          <form *ngIf="RetirementShow" [formGroup]="RetirementForm">
            <div class="row mt-4">
              <div class="col">
                <label for="">Name Of Retirement Plan<span class="important">*</span> </label>
                <input id="profile_pp_rf_retirementname" type="text" formControlName="Retirementname" placeholder="Enter Name Of Retirement Plan"
                  (blur)="onRetirementnameChanges($event)">
                <div *ngIf="RetirementnameError" class="validation-msg">
                  <div *ngIf="RetirementnameError">Retirement Plan Name is required</div>
                </div>
              </div>
              <div class="col">
                <label for="">Name & Title of Signor<span class="important">*</span></label>
                <input id="profile_pp_rf_titlesignor" type="text" formControlName="Titlesignor" placeholder="Enter Name & Title of Signor"
                  (blur)="onTitlesignorChanges($event)">
                <div *ngIf="TitlesignorError" class="validation-msg">
                  <div *ngIf="TitlesignorError">Signor Name is required</div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <label for="">Street Address 1</label>
                <input id="profile_pp_rf_stadds1" type="text" formControlName="Streetaddress1" placeholder="Enter Street Address 1">
              </div>
              <div class="col">
                <label for="">Street Address 2</label>
                <input id="profile_pp_rf_stadds2" type="text" formControlName="Streetaddress2" placeholder="Enter Street Address 2">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <label for="">City</label>
                <input id="profile_pp_rf_city" type="text" formControlName="City" placeholder="Enter the City Name">
              </div>
              <div class="col">
                <label for="">State/Province</label>
                <select name="" id="profile_pp_rf_province" formControlName="Province" [(ngModel)]="StateProvinceId"
                  (change)="onProvinceChange($event)">
                  <option *ngFor="let item of Province" [value]="item.id == 'null' ? '': item.id"
                    [selected]="item.id == StateProvinceId">
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="row mt-4" *ngIf="CountryStateShow">
              <div class="col">
                <label for="">Country</label>
                <input id="profile_pp_rf_country" type="text" formControlName="Country" placeholder="Enter Country">
              </div>
              <div class="col">
                <label for="">State</label>
                <input id="profile_pp_rf_state" type="text" formControlName="State" placeholder="Enter State">
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <label for="">Zip Code</label>
                <input id="profile_pp_rf_zipcode" type="text" formControlName="Zipcode" placeholder="Enter Zip Code">
              </div>
              <div class="col">
                <div class="m-7 d-flex align-items-center justify-content-between">
                  <label for="">Tax ID</label>
                  <div class="tooltip-wrapper tooltip-lg">
                    <div class="tooltip-toggle icon-only">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 18">
                        <path d="M0,0H18V18H0Z" fill="none" />
                        <path
                          d="M8.3,5.5H9.7V6.9H8.3Zm0,2.8H9.7v4.2H8.3ZM9,2a7,7,0,1,0,7,7A7,7,0,0,0,9,2ZM9,14.6A5.6,5.6,0,1,1,14.6,9,5.607,5.607,0,0,1,9,14.6Z" />
                      </svg>
                    </div>
                    <div class="tooltip-text">
                      For tax purposes a tax ID number is required, e.g. the SSN, EIN, ITIN, SIN, or any other Tax ID
                      associated with this profile.
                    </div>
                  </div>
                </div>
                <input id="profile_pp_rf_taxid" type="text" class="m-7" formControlName="Taxid" placeholder="Enter Tax ID" minlength="10"
                  maxlength="11" (blur)="onTaxid($event)">
                <div *ngIf="TaxError" class="validation-msg">Format should be 123-45-6789 or 12-3456789 or 123-456-789
                </div>
              </div>
            </div>
          </form>

          <div class="distribution">
            <h3 class="company-wrapper mb-4 mt-4">Distribution</h3>
            <div class="row ">
              <div class="col">
                <label for="">Distribution Method</label>
                <select name="" id="profile_pp_Distributionmethod" [disabled]="DistributionDisabled" [(ngModel)]="Distributionmethod"
                  (click)="onDistrubutionMethodChange($event)">
                  <option *ngFor="let item of DistributionValue" [value]="item.id == 'null' ? '': item.id"
                    [selected]="item.id == DistrubutionId">
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>
            <div *ngIf="USAddressError">
              <h3>Checks can be delivered only to U.S. address.</h3>
            </div>
            <div class="row mt-4" *ngIf="ACHBool">
              <div class="col">
                <label for="">Bank Account</label>
                <select name="" id="profile_pp_bankaccount" [(ngModel)]="BankAccountId" (blur)="onBankAccountChange($event)"
                  [disabled]="ViewBool">
                  <option *ngFor="let item of BankDetailsData" [value]="item.id == 'null' ? '': item.id"
                    [selected]="item.id == BankAccountId">
                    {{ item.name }}
                  </option>
                </select>
              </div>
              <div class="col mt-3" *ngIf="!ViewBool">
                <label for=""></label>
                <!-- <button class="button-outline mr-3" [disabled]="ViewBool" (click)="onBankAccount()">Add Bank
                  Account</button> -->
                  <app-add-bankaccount id="profile_pp_addbankaccount"  (messageEvent)="BankReturnData($event)" [BankValue]="Bank"></app-add-bankaccount>
              </div>
            </div>
            <div class="row" *ngIf="CheckBool">
              <form [formGroup]="CheckForm">
                <div class="row mt-4">
                  <div class="col">
                    <label for="">In care of (Optional)</label>
                    <input id="profile_pp_cf_incareof" type="text" formControlName="Incare" placeholder="In care of (Optional)">
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <label for="">Street Address 1</label>
                    <input id="profile_pp_cf_stadds1" type="text" formControlName="Streetaddress1" placeholder="Enter Street Address 1"
                      (blur)="onStreetChanges($event)">
                    <div *ngIf="StreetBool" class="validation-msg">
                      <div *ngIf="StreetBool">Address Line 1 is required</div>
                    </div>
                  </div>
                  <div class="col">
                    <label for="">Street Address 2</label>
                    <input id="profile_pp_cf_stadds2" type="text" formControlName="Streetaddress2" placeholder="Enter Street Address 2">
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col">
                    <label for="">City</label>
                    <input id="profile_pp_cf_city" type="text" formControlName="City" placeholder="Enter City Name"
                      (blur)="onCityChanges($event)">
                    <div *ngIf="CityBool" class="validation-msg">
                      <div *ngIf="CityBool">City is required</div>
                    </div>
                  </div>
                  <div class="col">
                    <label for="">State/Province</label>
                    <select name="" id="profile_pp_cf_province" formControlName="Province" [(ngModel)]="StateProvinceId1"
                      [disabled]="ViewBool" (change)="onProvinceChange1($event)">
                      <option *ngFor="let item of CheckProvince" [value]="item.id == 'null' ? '': item.id"
                        [selected]="item.id == StateProvinceId1">
                        {{ item.name }}
                      </option>
                    </select>
                    <div *ngIf="StateError" class="validation-msg">
                      <div *ngIf="StateError">State is required</div>
                    </div>
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col">
                    <label for="">Zip Code</label>
                    <input id="profile_pp_cf_zipcode" type="text" formControlName="Zipcode" placeholder="Enter Zip Code"
                      (blur)="onZipcodeChanges($event)">
                    <div *ngIf="ZipcodeBool" class="validation-msg">
                      <div *ngIf="ZipcodeBool">Zipcode is required</div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="row" *ngIf="OtherBool">
              <div class="row mt-4">
                <div class="col">
                  <label for="">Other Details</label>
                  <input id="profile_pp_cf_otherdetails" type="text" [(ngModel)]="OtherDetails" placeholder="Enter Other Details" [disabled]="ViewBool">
                </div>
              </div>
            </div>
          </div>
          <div class=" text-center mt-5">
            <button id="profile_pp_cf_cancel" class="button-outline-secondary mr-3" (click)="ProfilePopup = false">Cancel</button>
            <button id="profile_pp_cf_saveprofile" class="button-outline" *ngIf="!ViewBool" (click)="onSaveProfile()">Save Profile</button>
            <button id="profile_pp_cf_editprofile" class="button-outline" *ngIf="ViewBool" (click)="onEditProfile()">Edit Profile</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-add-bankaccount id="profile_pp_addbankaccount"  (messageEvent)="BankReturnData($event)" [BankValue]="Bank"></app-add-bankaccount> -->
</div>
<div class="loader" *ngIf="Loader">
  <div class="dot-flashing"></div>
</div>
