<span id="viewupdates_preview" class="action-icon" (click)="onPreview()">
  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
    <path d="M0 0h24v24H0V0z" fill="none" />
    <path
      d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z" />
  </svg>
</span>

<div class="modal-wrapper" *ngIf="PreviewPopup">
  <div class="modal" style="max-width: 650px;">
    <div class="modal-title">
      <div class="company-wrapper d-flex align-items-center justify-content-between">
        <div>
          <h2>{{content.name}} - Updates</h2>
          <div>Subject | {{content.createdOn | date}}</div>
        </div>
        <button id="viewupdates_pp_x" class="button icon-only button-clear ml-2" (click)="PreviewPopup=false">
          <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path
              d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
          </svg>
        </button>
      </div>
    </div>
      <div class="modal-content">
        <p>
          {{content.subject}}
        </p>
      <ckeditor [editor]="Editor" data="{{content.content}}"  [disabled]="true">
      </ckeditor>
      </div>
    <div class="modal-footer text-center">
      <button id="viewupdates_pp_cancel" type="button" class="button-outline-secondary" (click)="PreviewPopup=false">
        Cancel
      </button>
    </div>
  </div>
</div>
<div class="loader" *ngIf="Loader">
  <div class="dot-flashing"></div>
</div>
