<div class="content-wrapper">
  <button id="bankac_addbankaccount" class="button-outline mr-3" (click)="onBankAccount()">Add Bank Account</button>
  <div class="modal-wrapper" *ngIf="BankPopup">
    <div class="modal" style="max-width: 650px;">
      <div class="modal-title pb-0">
        <div class="company-wrapper d-flex align-items-center justify-content-between">
          <div>
            <h3 *ngIf="!BankTitleShow">Add Bank Account</h3>
            <h3 *ngIf="BankTitleShow">Update Bank Account</h3>
          </div>
          <div>
            <button id="bankac_bkp_x" class="button icon-only button-clear ml-2" (click)="BankPopup = false">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path
                  d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
              </svg>
            </button>
          </div>
        </div>
        <div class="login-form mt-4 mb-4">
          <form [formGroup]="BankForm">
            <div class="row mt-4">
              <div class="col">
                <label for="">Bank Name</label>
                <input type="text" id="bankac_bkp_bf_bankname" placeholder="Enter the Bank Name" formControlName="Bankname"
                  (blur)="onBanknameChanges($event)">
                <div *ngIf="BanknameError" class="validation-msg">
                  Bank Name is required
                </div>
              </div>
              <div class="col">
                <label for="">Account Type</label>
                <select name="" id="bankac_bkp_bf_accounttype" formControlName="Accounttype" (blur)="onAccounttypeChanges($event)"
                  [(ngModel)]="Accounttype">
                  <option value="0" selected>Select</option>
                  <option value="1">Savings</option>
                  <option value="2">Checking</option>
                </select>
                <div *ngIf="AccounttypeError" class="validation-msg">Account Type is required</div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <label for="">Routing Number</label>
                <input id="bankac_bkp_bf_routingnumber" type="password" placeholder="Enter Routing Number" formControlName="Routingnumber"
                  (keypress)="numberValidation($event)" (blur)="onRoutingnumChanges($event)" maxlength="9">
                <div *ngIf="RoutingnumberError || RoutingnumberLength" class="validation-msg">
                  <div *ngIf="RoutingnumberError">Routing Number is required</div>
                  <div *ngIf="RoutingnumberLength">Routing Number must be exactly 9 characters</div>
                </div>
              </div>
              <div class="col">
                <label for="">Confirm Routing Number</label>
                <div class="input-field-group">
                  <input id="bankac_bkp_bf_confirmroutingnumber" [type]="showRouting ? 'text' : 'password'" placeholder="Enter Routing Number"
                    formControlName="Confirmroutingnumber" (keypress)="numberValidation($event)"
                    (blur)="onConRoutingnumChanges($event)" maxlength="9">
                  <span class="input-field-btn view-pwd">
                    <button id="bankac_bkp_bf_routing" class="button button-clear icon-only" (click)="Routing()" type="button">
                      <svg *ngIf="showRouting" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24"
                        width="20">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                          d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z" />
                      </svg>
                      <svg *ngIf="!showRouting" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24"
                        width="20">
                        <path d="M0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none" />
                        <path
                          d="M12 6c3.79 0 7.17 2.13 8.82 5.5-.59 1.22-1.42 2.27-2.41 3.12l1.41 1.41c1.39-1.23 2.49-2.77 3.18-4.53C21.27 7.11 17 4 12 4c-1.27 0-2.49.2-3.64.57l1.65 1.65C10.66 6.09 11.32 6 12 6zm-1.07 1.14L13 9.21c.57.25 1.03.71 1.28 1.28l2.07 2.07c.08-.34.14-.7.14-1.07C16.5 9.01 14.48 7 12 7c-.37 0-.72.05-1.07.14zM2.01 3.87l2.68 2.68C3.06 7.83 1.77 9.53 1 11.5 2.73 15.89 7 19 12 19c1.52 0 2.98-.29 4.32-.82l3.42 3.42 1.41-1.41L3.42 2.45 2.01 3.87zm7.5 7.5l2.61 2.61c-.04.01-.08.02-.12.02-1.38 0-2.5-1.12-2.5-2.5 0-.05.01-.08.01-.13zm-3.4-3.4l1.75 1.75c-.23.55-.36 1.15-.36 1.78 0 2.48 2.02 4.5 4.5 4.5.63 0 1.23-.13 1.77-.36l.98.98c-.88.24-1.8.38-2.75.38-3.79 0-7.17-2.13-8.82-5.5.7-1.43 1.72-2.61 2.93-3.53z" />
                      </svg>
                    </button>
                  </span>
                </div>
                <div *ngIf="ConfirmroutingnumberError || ConfirmRoutingMatch" class="validation-msg">
                  <div *ngIf="ConfirmroutingnumberError">Confirm Routing Number is required</div>
                  <div *ngIf="ConfirmRoutingMatch">Routing Number didn't match</div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <label for="">Account Number</label>
                <input id="bankac_bkp_bf_accountnumber" type="password" placeholder="Enter Account Number" formControlName="Accountnumber" maxlength="20"
                  (blur)="onAccountnumberChanges($event)">
                <div *ngIf="AccountnumberError" class="validation-msg">
                  <div *ngIf="AccountnumberError">Account Number is required</div>
                </div>
              </div>
              <div class="col">
                <label for="">Confirm Account Number</label>
                <div class="input-field-group">
                  <input id="bankac_bkp_bf_confirmaccountnumber" [type]="showAccount ? 'text' : 'password'" placeholder="Enter Account Number"
                    formControlName="Confirmaccountnumber" maxlength="20" (blur)="onConfirmaccountnumChanges($event)">
                  <span class="input-field-btn view-pwd">
                    <button id="bankac_bkp_account" class="button button-clear icon-only" (click)="Account()" type="button">
                      <svg *ngIf="showAccount" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24"
                        width="20">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                          d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z" />
                      </svg>
                      <svg *ngIf="!showAccount" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24"
                        width="20">
                        <path d="M0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none" />
                        <path
                          d="M12 6c3.79 0 7.17 2.13 8.82 5.5-.59 1.22-1.42 2.27-2.41 3.12l1.41 1.41c1.39-1.23 2.49-2.77 3.18-4.53C21.27 7.11 17 4 12 4c-1.27 0-2.49.2-3.64.57l1.65 1.65C10.66 6.09 11.32 6 12 6zm-1.07 1.14L13 9.21c.57.25 1.03.71 1.28 1.28l2.07 2.07c.08-.34.14-.7.14-1.07C16.5 9.01 14.48 7 12 7c-.37 0-.72.05-1.07.14zM2.01 3.87l2.68 2.68C3.06 7.83 1.77 9.53 1 11.5 2.73 15.89 7 19 12 19c1.52 0 2.98-.29 4.32-.82l3.42 3.42 1.41-1.41L3.42 2.45 2.01 3.87zm7.5 7.5l2.61 2.61c-.04.01-.08.02-.12.02-1.38 0-2.5-1.12-2.5-2.5 0-.05.01-.08.01-.13zm-3.4-3.4l1.75 1.75c-.23.55-.36 1.15-.36 1.78 0 2.48 2.02 4.5 4.5 4.5.63 0 1.23-.13 1.77-.36l.98.98c-.88.24-1.8.38-2.75.38-3.79 0-7.17-2.13-8.82-5.5.7-1.43 1.72-2.61 2.93-3.53z" />
                      </svg>
                    </button>
                  </span>
                </div>
                <div *ngIf="ConfirmaccountnumberError || ConfirmAccountMatch" class="validation-msg">
                  <div *ngIf="ConfirmaccountnumberError">Confirm Account Number is Required</div>
                  <div *ngIf="ConfirmAccountMatch">Account Number didn't match</div>
                </div>
              </div>
            </div>

            <div class=" modal-footer text-center mt-5">
              <button id="bankac_bkp_bf_cancel" class="button-outline-secondary mr-3" (click)="BankPopup = false">Cancel</button>
              <button id="bankac_bkp_bf_save" class="button-outline" (click)="onBankSave()">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="loader" *ngIf="Loader">
  <div class="dot-flashing"></div>
</div>
