<!-- Header Start -->
<!-- <header>
  <div [ngClass]="UserId != null ?'main-header' : 'login-main-header pr-5 pl-5'">
    <nav class="header-nav d-flex align-items-center justify-content-between p-0">
      <div class="brand-wrapper">
        <img src="../../assets/images/Credor-logo.png" class="" alt="credor-logo" width="100px" (click)="onLogo()">
      </div>
      <div class="nav-right">
        <ul class="d-flex">
          <li id="login_invest" class="nav-link" *ngIf="UserId != null" routerLink='/invest' routerLinkActive="active">Invest</li>
          <li id="login_myinvestment" class="nav-link" *ngIf="UserId != null" routerLink='/myinvestment' routerLinkActive="active">Dashboard
          </li>
          <li id="login_aboutus" class="nav-link">About Us</li>
          <li id="login_contact" class="nav-link">Contact</li>
          <li id="login_login" class="nav-link" *ngIf="UserId == null" routerLink='/login' routerLinkActive="active">Login</li>
          <li id="login_register" class="nav-link" *ngIf="UserId == null" routerLink='/register' routerLinkActive="active">Sign up</li>
        </ul>
      </div>
    </nav>
  </div>
</header> -->
<!-- Header End -->


<div class="login-content-wrapper">
  <div class="row">
    <div class="col-sm-7 d-flex align-items-center justify-content-center">
      <div class="login-main-text text-center">
        <h1>
          Easy To Find Your Next Perfect place
        </h1>
        <button id="login_explore" class="button-outline mt-3" (click)="Onexplore()">Explore</button>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="login-container">
        <div class="auth-wrapper w-100 ">
          <h2 *ngIf="!Resetlogin" class="text-center mb-4"> Login</h2>
          <h2 *ngIf="Resetlogin">Password Reset Successfully</h2>
          <p *ngIf="Resetlogin" class="mb-4">You can now use your new password to log into your account</p>
          <!-- Show this after retured from reset password page -->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
            <div class="field-group">
              <label for="email" class="sr-only">Email</label>
              <input type="text" class="input-field" placeholder="Username" id="login_email" formControlName="Email"
                [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
              <div *ngIf="submitted && f.Email.errors" class="validation-msg">
                <div *ngIf="f.Email.errors?.required">Username is required</div>
              </div>
            </div>
            <div class="field-group">
              <div class="input-field-group">
              <label for="password" class="sr-only">Password</label>
              <input [type]="showPassword ? 'text' : 'password'" class="input-field" placeholder="Password" id="login_password" formControlName="Password"
                [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" (keydown.space)="$event.preventDefault();">
                <span class="input-field-btn view-pwd">
                  <button id="register_rf_showpassword" class="button button-clear icon-only" (click)="Password()" type="button">
                    <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24"
                      width="20">
                      <path d="M0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z" />
                    </svg>
                    <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" height="20"
                      viewBox="0 0 24 24" width="20">
                      <path d="M0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none" />
                      <path
                        d="M12 6c3.79 0 7.17 2.13 8.82 5.5-.59 1.22-1.42 2.27-2.41 3.12l1.41 1.41c1.39-1.23 2.49-2.77 3.18-4.53C21.27 7.11 17 4 12 4c-1.27 0-2.49.2-3.64.57l1.65 1.65C10.66 6.09 11.32 6 12 6zm-1.07 1.14L13 9.21c.57.25 1.03.71 1.28 1.28l2.07 2.07c.08-.34.14-.7.14-1.07C16.5 9.01 14.48 7 12 7c-.37 0-.72.05-1.07.14zM2.01 3.87l2.68 2.68C3.06 7.83 1.77 9.53 1 11.5 2.73 15.89 7 19 12 19c1.52 0 2.98-.29 4.32-.82l3.42 3.42 1.41-1.41L3.42 2.45 2.01 3.87zm7.5 7.5l2.61 2.61c-.04.01-.08.02-.12.02-1.38 0-2.5-1.12-2.5-2.5 0-.05.01-.08.01-.13zm-3.4-3.4l1.75 1.75c-.23.55-.36 1.15-.36 1.78 0 2.48 2.02 4.5 4.5 4.5.63 0 1.23-.13 1.77-.36l.98.98c-.88.24-1.8.38-2.75.38-3.79 0-7.17-2.13-8.82-5.5.7-1.43 1.72-2.61 2.93-3.53z" />
                    </svg>
                  </button>
                </span>
              <div *ngIf="submitted && f.Password.errors" class="validation-msg">
                <div *ngIf="f.Password.errors?.required">Password is required</div>
              </div>
            </div>
            </div>
            <button id="login_submit" type="submit" class="button button-secondary mt-3 w-100" [disabled]="logindisabledBool">Login</button>
          </form>
          <div class="login-bottom-link d-flex align-items-center justify-content-between mt-4" *ngIf="!Resetlogin">
            <p class="">New User?
              <a id="login_registerhere" href="javascript:void(0);" (click)="register()">Register here</a>
            </p>
            <p class="">
              <a id="login_forgotpassword" href="javascript:void(0);" (click)="goToForgetPassword()">Forgot Password?</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loader" *ngIf="Loader">
  <div class="dot-flashing"></div>
</div>
