<!-- Header Start -->
<!-- <app-header></app-header> -->
<!-- Header End -->


  <!-- Sidebar Start -->
  <!-- <app-side-bar></app-side-bar> -->
  <!-- Sidebar End -->

  <!--Body Content start-->
  <div class="">
    <div class="inner-header">
      <h3 class="pb-2">Updates</h3>
    </div>

    <div class="table-wrapper mt-4">
      <div class="table-actions">
        <div class="row mt-4">
          <div class="col d-flex align-items-center pl-0">
            <div class="mr-2">
              <label for="" class="mr-2"> Show:</label>
              <select name="" id="updates_show" style="width:100px" (change)="onChooseDataPerPage($event)">
                <option value="0" selected>Select</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
              </select>
            </div>
            <div>
              <select name="" id="updates_dropdownupdatevalue" (change)="onChange($event)">
                <option *ngFor="let item of DropdownUpdateValue" [value]="item.id == 'null' ? '': item.id"
                  [selected]="item.id == UpdateValueId">
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="col text-right">
            <button id="updates_downloadall" type="submit" class=" button-outline ml-3">Download All</button>
          </div>
        </div>

      </div>
      <div *ngIf="UpdateValue.length != 0">
        <table class="documents-table mt-3">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Subject</th>
              <th scope="col">Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of UpdateValue  | paginate: config">
              <td>{{item.name}}</td>
              <td>{{item.subject}}</td>
              <td>{{item.createdOn | date}}</td>
              <td>
                <app-view-updates id="updates_preview_{{item.id}}" [UpdateData]="item.id"></app-view-updates>
                <!-- <span id="updates_preview_{{item.id}}" class="action-icon" (click)="onPreview(item)">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path
                      d="M12 6c3.79 0 7.17 2.13 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5C4.83 8.13 8.21 6 12 6m0-2C7 4 2.73 7.11 1 11.5 2.73 15.89 7 19 12 19s9.27-3.11 11-7.5C21.27 7.11 17 4 12 4zm0 5c1.38 0 2.5 1.12 2.5 2.5S13.38 14 12 14s-2.5-1.12-2.5-2.5S10.62 9 12 9m0-2c-2.48 0-4.5 2.02-4.5 4.5S9.52 16 12 16s4.5-2.02 4.5-4.5S14.48 7 12 7z" />
                  </svg>
                </span> -->

                <span class="action-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M13 5v6h1.17L12 13.17 9.83 11H11V5h2m2-2H9v6H5l7 7 7-7h-4V3zm4 15H5v2h14v-2z" />
                  </svg> </span>
                <!--<span class="action-icon">
                                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="#03260A"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M14.06 9.02l.92.92L5.92 19H5v-.92l9.06-9.06M17.66 3c-.25 0-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.2-.2-.45-.29-.71-.29zm-3.6 3.19L3 17.25V21h3.75L17.81 9.94l-3.75-3.75z"/></svg>
                                  </span>
                                    <span class="action-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"/></svg>
                                  </span> -->
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
  </div>

  <!--Body Content End-->
  <!-- <div class="modal-wrapper" *ngIf="PreviewPopup">
    <div class="modal" style="max-width: 650px;">
      <div class="modal-title">
        <div class="company-wrapper d-flex align-items-center justify-content-between">
          <div>
            <h2>{{Name}} - Updates</h2>
            <div>Subject | {{Date | date}}</div>
          </div>
          <button id="updates_pp_x" class="button icon-only button-clear ml-2" (click)="PreviewPopup=false">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
            </svg>
          </button>
        </div>
      </div>
        <div class="modal-content">
          <p>
            {{Subject}}
          </p>
        <ckeditor [editor]="Editor" data="{{content.content}}"  [disabled]="true">
        </ckeditor>
        </div>
      <div class="modal-footer text-center">
        <button id="updates_pp_cancel" type="button" class="button-outline-secondary" (click)="PreviewPopup=false">
          Cancel
        </button>
      </div>
    </div>
  </div> -->



<div class="loader" *ngIf="Loader">
  <div class="dot-flashing"></div>
</div>
