<!-- Header Start -->
<!-- <header>
  <div [ngClass]="UserId != null ?'main-header' : 'login-main-header pr-5 pl-5'">
    <nav class="header-nav d-flex align-items-center justify-content-between p-0">
      <div class="brand-wrapper">
        <img id="invest_logo" src="../../assets/images/Credor-logo.png" class="" style="cursor: pointer" alt="credor-logo" width="100px"
          (click)="onLogo()">
      </div>
      <div class="nav-right">
        <ul class="d-flex">
          <li id="invest_backtoadmin" class="nav-link" *ngIf="rmode==true" (click)="backToAdmin()">Back to Admin</li>
          <li id="invest_invest" class="nav-link" *ngIf="UserId != null" routerLink='/invest' routerLinkActive="active">Invest</li>
          <li id="invest_dashboard" class="nav-link" *ngIf="UserId != null" routerLink='/myinvestment' routerLinkActive="active">Dashboard
          </li>
          <li id="invest_aboutus" class="nav-link">About Us</li>
          <li id="invest_contact" class="nav-link">Contact</li>
        </ul>

        <div id="invest_notificationclick" class="notification d-flex mr-3" *ngIf="UserId != null" (click)="NotificationClick()">
          <a class="nav-link slider-toggle icon-only" href="javascript:void(0);">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-6v-5c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.64 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2zm-2 1H8v-6c0-2.48 1.51-4.5 4-4.5s4 2.02 4 4.5v6z" />
            </svg>
            <span class="bubble">{{NotificationData.length}}</span>
            <div class="notification-dropdown-menu" *ngIf="NotificationDropdown">
              <div class="dropdown-menu-content">
                <div class="quick-links py-3">
                  <div class="list-icon list-icon-small">
                    <div class="item-content" style="max-width: 650px;">
                      <div class="text-center mt-2">
                        <button id="invest_clearall" class="button" (click)="ClearAll()">Clear All</button>
                      </div>
                      <div class="p-3" *ngIf="NotificationData.length == 0">
                        No New Notifications!
                      </div>
                      <div *ngIf="NotificationData.length > 0">
                        <div *ngFor="let item of Notification">
                          <div class="notification-wrapper d-flex align-items-center justify-content-between">
                            <div>
                              <div class="d-flex align-items-center">
                                <img class="mr-2" *ngIf="item.createdByProfileImageURL ==  null"
                                  src="../../assets/images/user-icon.png" alt="" width="24" height="24">
                                <img class="mr-2" *ngIf="item.createdByProfileImageURL !=  null"
                                  src="{{item.createdByProfileImageURL}}" alt="" width="24" height="24">
                                <P>{{item.message}}</P>
                              </div>
                              <div class="notification-date">{{item.createdOn | date}}</div>
                            </div>
                            <div>
                              <button id="invest_read_{{item.id}}" class="button icon-only button-clear ml-2" (click)="Read(item)">
                                <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18">
                                  <path d="M0 0h24v24H0V0z" fill="none" />
                                  <path
                                    d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
                                </svg>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="text-center mt-4">
                          <button id="invest_loadmore" type="button" class="button " (click)="onLoadMore()">Load More</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="dropdown" (mouseenter)="profileDropdown=true" (mouseleave)="profileDropdown=false"
          *ngIf="UserId != null">
          <a class="nav-link pr-0">
            <img *ngIf="ProfileImg == 'null'" src="../../assets/images/user-icon.png" alt="" width="24" height="24">
            <img *ngIf="ProfileImg != 'null'" src="{{ProfileImg}}" alt="" width="24" height="24">
          </a>
          <div class="dropdown-menu" *ngIf="profileDropdown">
            <div class="dropdown-menu-content">
              <div class="quick-links py-2">
                <div class="list-icon list-icon-small">
                  <a class="d-flex align-items-center">
                    <div class="icon ml-3 mt-1">
                      <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 0 24 24" width="18px"
                        fill="#000000">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                          d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM7.07 18.28c.43-.9 3.05-1.78 4.93-1.78s4.51.88 4.93 1.78C15.57 19.36 13.86 20 12 20s-3.57-.64-4.93-1.72zm11.29-1.45c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33C4.62 15.49 4 13.82 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.49-1.64 4.83zM12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6zm0 5c-.83 0-1.5-.67-1.5-1.5S11.17 8 12 8s1.5.67 1.5 1.5S12.83 11 12 11z" />
                      </svg>
                    </div>
                    <div id="invest_account" class="item-content ml-2" (click)="Account1()">
                      Account
                    </div>
                  </a>
                </div>
              </div>
              <div class="quick-links py-2" *ngIf="rmode==false">
                <div class="list-icon list-icon-small">
                  <a class="d-flex align-items-center">
                    <div class="icon ml-3 mt-1">
                      <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 24 24" width="18">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                          d="M13 3h-2v10h2V3zm4.83 2.17l-1.42 1.42C17.99 7.86 19 9.81 19 12c0 3.87-3.13 7-7 7s-7-3.13-7-7c0-2.19 1.01-4.14 2.58-5.42L6.17 5.17C4.23 6.82 3 9.26 3 12c0 4.97 4.03 9 9 9s9-4.03 9-9c0-2.74-1.23-5.18-3.17-6.83z" />
                      </svg>
                    </div>
                    <div id="invest_logout" class="item-content ml-2" (click)="logout()">
                      Logout
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </nav>
  </div>
</header> -->
<!-- Header End -->

  <!-- Main Content Start -->
  <main>
    <div class="main-content-wrappaer">
      <div class="header-nav tab-menu pl-0 mb-4 d-flex align-items-center justify-content-between">
        <div class="nav-right">
          <ul class="d-flex pl-0">
            <li id="invest_activeofferings" class="nav-link active" [ngClass]="{active: Selected == 'ActiveOffering'}"
              (click)="selectActiveOffering()">Active Offerings<span class="bubble"
                [ngClass]="Selected == 'ActiveOffering'? 'bubble' : 'bubble-inactive'">{{actCount}}</span> </li>
            <li id="invest_reservations" class="nav-link active" [ngClass]="{active: Selected == 'Reservation'}"
              (click)="selectReservation()">
              Reservations<span class="bubble"
                [ngClass]="Selected == 'Reservation'? 'bubble' : 'bubble-inactive'">{{resCount}}</span> </li>
            <li id="invest_pastofferings" class="nav-link active" [ngClass]="{active: Selected == 'PastOffering'}"
              (click)="selectPastOffering()">
              Past Offerings<span class="bubble"
                [ngClass]="Selected == 'PastOffering'? 'bubble' : 'bubble-inactive'">{{PastCount}}</span> </li>
          </ul>
        </div>
      </div>

      <div class="marketplace-deal-wrapper">
        <div class="row">
          <div class="col-sm-12 p-0">
            <div class="" *ngIf="Activeofferingtab">
              <div class="card-content" *ngFor="let item of Activeoffering">
                <div class="row">
                  <div class="col-auto card-image">
                    <img src={{item.pictureUrl}} alt="image-missing">
                  </div>
                  <div class="col deal-content w-100">
                    <div class="deal-header">
                      <h3>{{item.name}}</h3>
                      <p>TechTown Equity LLC LH Tri-Phase Series</p>
                    </div>
                    <div class="deal-highlight-content d-flex">
                      <div class="highlights">
                        <h3>{{item.size  | currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                        <p>Offering Size</p>
                      </div>
                      <div class="highlights">
                        <h3>{{item.minimumInvestment  | currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                        <p>Minimum Investment</p>
                      </div>
                      <div class="highlights" *ngFor="let key of item.keyHighlights">
                        <div *ngIf="key.visibility == true">
                          <h3 *ngIf="key.name == 'Offering Size' || key.name == 'Minimum Investment'">{{key.value |
                            currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                          <h3 *ngIf="key.name != 'Offering Size' && key.name != 'Minimum Investment'">{{key.value}}
                          </h3>
                          <p *ngIf="key.name != null">{{key.name}}</p>
                          <p *ngIf="key.name == null">{{key.field}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between mt-4">
                      <div>
                        <app-view-details id="invest_active_viewdetails" [ViewDetailData]="item.id"></app-view-details>
                        <button id="invest_active_investnow" class="button-outline-secondary" [disabled]="InvestDisabled"
                          (click)="onInvestNow(item)">Invest now</button>
                      </div>
                      <div class="location">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="tooltip-wrapper tooltip-lg">
                            <div class="tooltip-toggle icon-only clickable">
                              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#c8202f">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path
                                  d="M12 12c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm6-1.8C18 6.57 15.35 4 12 4s-6 2.57-6 6.2c0 2.34 1.95 5.44 6 9.14 4.05-3.7 6-6.8 6-9.14zM12 2c4.2 0 8 3.22 8 8.2 0 3.32-2.67 7.25-8 11.8-5.33-4.55-8-8.48-8-11.8C4 5.22 7.8 2 12 2z" />
                              </svg>
                            </div>
                            <div class="tooltip-text">
                              2519 Co Rd 323, Liberty Hill, TX 78642, USA
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="" *ngIf="Reservationtab">
              <div class="card-content" *ngFor="let item of Reservation">
                <div class="row">
                  <div class="col-auto card-image">
                    <img src={{item.pictureUrl}} alt="image-missing">
                  </div>
                  <div class="col deal-content">
                    <div class="deal-header">
                      <h3>{{item.name}}</h3>
                      <p>TechTown Equity LLC LH Tri-Phase Series</p>
                    </div>
                    <div class="deal-highlight-content d-flex">
                      <div class="highlights">
                        <h3>{{item.size  | currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                        <p>Reservation Size</p>
                      </div>
                      <div class="highlights">
                        <h3>{{item.minimumInvestment  | currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                        <p>Minimum Investment</p>
                      </div>
                      <div class="highlights" *ngFor="let key of item.keyHighlights">
                        <div *ngIf="key.visibility == true">
                          <h3 *ngIf="key.name == 'Offering Size' || key.name == 'Minimum Investment'">{{key.value |
                            currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                          <h3 *ngIf="key.name != 'Offering Size' && key.name != 'Minimum Investment'">{{key.value}}
                          </h3>
                          <p>{{key.name}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between mt-4">
                      <div>
                        <app-view-details id="invest_reservation_viewdetails" [ViewDetailData]="item.id"></app-view-details>
                        <button id="invest_reservation_addedit" class="button-outline-secondary"
                          (click)="onAddEditReservation(item)">Add/Edit
                          Reservation</button>
                      </div>
                      <div class="location">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="tooltip-wrapper tooltip-lg">
                            <div class="tooltip-toggle icon-only clickable">
                              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#c8202f">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path
                                  d="M12 12c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm6-1.8C18 6.57 15.35 4 12 4s-6 2.57-6 6.2c0 2.34 1.95 5.44 6 9.14 4.05-3.7 6-6.8 6-9.14zM12 2c4.2 0 8 3.22 8 8.2 0 3.32-2.67 7.25-8 11.8-5.33-4.55-8-8.48-8-11.8C4 5.22 7.8 2 12 2z" />
                              </svg>
                            </div>
                            <div class="tooltip-text">
                              2519 Co Rd 323, Liberty Hill, TX 78642, USA
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="" *ngIf="Pastofferingtab">
              <div class="card-content" *ngFor="let item of Pastoffering">
                <div class="row">
                  <div class="col-auto card-image">
                    <img src={{item.pictureUrl}} alt="image-missing">
                  </div>
                  <div class="col deal-content">
                    <div class="deal-header">
                      <h3>{{item.name}}</h3>
                      <p>TechTown Equity LLC LH Tri-Phase Series</p>
                    </div>
                    <div class="deal-highlight-content d-flex">
                      <div class="highlights">
                        <h3>{{item.size  | currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                        <p>Offering Size</p>
                      </div>
                      <div class="highlights">
                        <h3>{{item.minimumInvestment  | currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                        <p>Minimum Investment</p>
                      </div>
                      <div class="highlights" *ngFor="let key of item.keyHighlights">
                        <div *ngIf="key.visibility == true">
                          <h3 *ngIf="key.name == 'Offering Size' || key.name == 'Minimum Investment'">{{key.value |
                            currency:'USD' : 'symbol' : '1.0-0'}}</h3>
                          <h3 *ngIf="key.name != 'Offering Size' && key.name != 'Minimum Investment'">{{key.value}}
                          </h3>
                          <p>{{key.name}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between mt-4">
                      <div>
                        <app-view-details id="invest_past_viewdetails" [ViewDetailData]="item.id"></app-view-details>
                      </div>
                      <div class="location">
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="tooltip-wrapper tooltip-lg">
                            <div class="tooltip-toggle icon-only clickable">
                              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                                fill="#c8202f">
                                <path d="M0 0h24v24H0z" fill="none" />
                                <path
                                  d="M12 12c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm6-1.8C18 6.57 15.35 4 12 4s-6 2.57-6 6.2c0 2.34 1.95 5.44 6 9.14 4.05-3.7 6-6.8 6-9.14zM12 2c4.2 0 8 3.22 8 8.2 0 3.32-2.67 7.25-8 11.8-5.33-4.55-8-8.48-8-11.8C4 5.22 7.8 2 12 2z" />
                              </svg>
                            </div>
                            <div class="tooltip-text">
                              2519 Co Rd 323, Liberty Hill, TX 78642, USA
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Main Content End -->
  <div class="modal-wrapper" *ngIf="AddEditReservationPopup">
    <div class="modal" style="max-width: 650px;">
      <div class="modal-title pb-0">
        <div class="company-wrapper d-flex align-items-center justify-content-between">
          <h3>Add Reservation</h3>
          <button id="invest_addeditreservepop_x" class="button icon-only button-clear ml-2"
            (click)="AddEditReservationPopup = false">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
            </svg>
          </button>
        </div>
      </div>
      <div class="modal-content" style="max-height: 400px;overflow:auto;">
        <div class="">
          <div class="field-group">
            <div class="row mt-4">
              <div class="col">
                <label for="">Investing As</label>
                <select id="invest_addeditreservepop_investingas" [(ngModel)]="InvestingProfile"
                  (click)="onChooseProfileChange($event)">
                  <option *ngFor="let item of ProfileValue" [value]="item.id == 'null' ? '': item.id"
                    [selected]="item.id == InvestingProfile">
                    <span *ngIf="item.name != null">{{ item.name }}</span>
                    <span *ngIf="item.firstName != null">{{ item.name }}</span>
                    <span *ngIf="item.trustName != null">{{ item.name }}</span>
                    <span *ngIf="item.retirementPlanName != null">{{ item.name }}</span>
                  </option>
                </select>
                <div *ngIf="InvestError" class="validation-msg">
                  <div *ngIf="InvestError">Selected Profile is required</div>
                </div>
              </div>
              <div class="col mt-3">
                <app-add-profile id="invest_addeditreservepop_addprofile" (messageEvent)="receiveMessage($event)"
                  [ProfileValue]="Profile"></app-add-profile>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <label for="investmentamount" class="">Investment Amount</label>
                <input id="invest_addeditreservepop_investmentamount" type="text" class="input-field" placeholder="Enter Amount Here"
                  [(ngModel)]="InvestmentAmount" (blur)="onInsAmt($event)">
                <div *ngIf="InsAmtError || MinimumError" class="validation-msg">
                  <div *ngIf="InsAmtError">Invested Amount is required</div>
                  <div *ngIf="MinimumError">Investment Amount is greater than reservation size</div>
                </div>
              </div>
              <div class="col mt-3">
                <h4 class="">Minimum Investment</h4>
                <div>{{MinInvestment  | currency:'USD' : 'symbol' : '1.0-0'}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" modal-footer text-center mt-5">
        <button id="invest_addeditreservepop_reserve" *ngIf="!ExistProfileHide" class="button-outline mr-3"
          (click)="onReserve('reserve')">Reserve</button>
        <button id="invest_addeditreservepop_withdraw" *ngIf="ExistProfileShow" class="button mr-3"
          (click)="onReserve('withdraw')">Withdraw</button>
        <button id="invest_addeditreservepop_update" *ngIf="ExistProfileShow" class="button" (click)="onReserve('update')">Update</button>
      </div>
    </div>
  </div>
  <div class="loader" *ngIf="Loader">
    <div class="dot-flashing"></div>
  </div>

