<!-- Header Start -->
<!-- <header>
  <div [ngClass]="UserId != null ?'main-header' : 'login-main-header pr-5 pl-5'">
    <nav class="header-nav d-flex align-items-center justify-content-between p-0">
      <div class="brand-wrapper">
        <img src="../../assets/images/Credor-logo.png" class="" alt="credor-logo" width="100px" (click)="goToLogin()">
      </div>
      <div class="nav-right">
        <ul class="d-flex">
          <li id="forgot_invest" class="nav-link" *ngIf="UserId != null" routerLink='/invest' routerLinkActive="active">Invest</li>
          <li id="forgot_myinvestment" class="nav-link" *ngIf="UserId != null" routerLink='/myinvestment' routerLinkActive="active">Dashboard
          </li>
          <li id="forgot_aboutus" class="nav-link">About Us</li>
          <li id="forgot_contact" class="nav-link">Contact</li>
          <li id="forgot_login" class="nav-link" *ngIf="UserId == null" routerLink='/login' routerLinkActive="active">Login</li>
          <li id="forgot_register" class="nav-link" *ngIf="UserId == null" routerLink='/register' routerLinkActive="active">Sign up</li>
        </ul>

      </div>
    </nav>
  </div>
</header> -->
<!-- Header End -->


<div class="login-content-wrapper">
  <div class="row">
    <div class="col-sm-7 d-flex align-items-center justify-content-center">
      <div class="login-main-text text-center">
        <h1>
          Easy To Find Your Next Perfect place
        </h1>
        <button class="button-outline mt-3">Explore</button>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="login-container">
        <div class="auth-wrapper w-100">
          <div class="card">
            <h2 class="text-center mb-4">Forgot Password?</h2>
            <div class="field-group">
              <input id="forgot_forgotpassword" type="text" class="input-field" placeholder="Enter the Email"
                [(ngModel)]="Forgotdata" (blur)="onForgot($event)">
              <!-- <p class="mt-2">You will receive an email with a link to reset your password </p> -->
              <div *ngIf="userExists || userBool" class="validation-msg">
                <div *ngIf="userExists">Email does not exist.</div>
                <div *ngIf="userBool">Email is required.</div>
              </div>

            </div>
            <button id="forgot_getresetlink" type="submit" class="button button-secondary w-100 mt-3 mb-4" [disabled]="forgotdisabledBool" (click)="GetResetLink()">Get Reset
              Link</button>
            <div class="text-center mt-3">
              <button id="forgot_backtologin" type="button" class="button has-icon button-clear" (click)="goToLogin()">
                <div class="d-flex align-items-center justify-content-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                    <path d="M0,0H24V24H0Z" fill="none" />
                    <path d="M11.67,3.87,9.9,2.1,0,12l9.9,9.9,1.77-1.77L3.54,12Z" transform="translate(0 0)" />
                  </svg>
                  <span>Back to login</span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="loader" *ngIf="Loader">
    <div class="dot-flashing"></div>
  </div>
</div>
